SOCKET_API_TOKEN=your_socket_api_token_here
SOCKET_ORG_SLUG=carma

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=socket_vdash
POSTGRES_USER=socket
POSTGRES_PASSWORD=changeme

COLLECT_INTERVAL_MINUTES=60
LOG_LEVEL=INFO
